/* http://meyerweb.com/eric/tools/css/reset/ 
        v2.0 | 20110126
        License: none (public domain)
        */

        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed, 
        figure, figcaption, footer, header, hgroup, 
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure, 
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }


/* ============ CSS RESET ============ */



/* ================================= */
/* ===========  DESKTOP  =========== */
/* ================================= */


body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: 3%;
}

nav {
    background-color: black;
    width: 100%;
    height: 100px;
    color: white;
    font-size: 1.8em;
}

ul {
    text-align: right;
    display: flex;
    justify-content: end;
}

li {
    color: white;
    padding-top: 40px;
    padding-left: 4%;
    padding-right: 3%;
    color: white;
    font-style: none;
    text-decoration: none;
}

a {
    font-style: none;
    text-decoration: none;
    color: white;
}

.h1 {
    display: none;
}

.h1p {
    display: none;
}

.bannerimg {
    width: 100%;
    margin: 0;
}

.intro {
    background-color: rgb(23, 23, 23);
}

.introbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    padding: 6em 0;
}

.introimg {
    width: 90%;
}

.introimg1 {
    display: none;
}

h2 {
    font-size: 6em;
    text-align: end;
    color: white;
}

.h2pp {
    padding-top: 0.8em;
}

.introp {
    font-size: 2em;
    text-align: end;
}

.introp1 {
    padding-top: 1em;
}

.introp2 {
    padding-bottom: 1em;
}

.addimg {
    width: 100%;
}

.theorybox {
    display: grid;
    grid-template-columns: 50% 50%;
    color: #cdcdcd;
    text-align: start;
}

p {
    font-size: 2em;
    line-height: 1.5em;
}

.theorybox1 {
    text-align: start;
    padding: 2em;
}

.theorybox2 {
    text-align: start;
    padding: 2em;
}

.theoryboxh2 {
    text-align: start;
    font-size: 6em;
    padding-bottom: 0.7em;
    color: #cdcdcd;
}

.banner5box {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
}

.tired {
    width: 95%;

}

.infoboxh2 {
    text-align: start;
    padding-bottom: 0.7em;
    font-size: 6em;
    color: #cdcdcd;
}

.infoboxp {
    color: #cdcdcd;
    width: 70%;
}

.artworksbox {
    width: 100%;
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: 30% 30% 30%;
}

.art {
    width: 100%;
}

.art1 {
    padding-right: 4em;
    padding-bottom: 12em;
}

.art3 {
    padding-right: 4em;
    padding-bottom: 12em;
}

.art5 {
    padding-right: 4em;
}

.art2 {
    padding-left: 4em;
    padding-bottom: 12em;
}

.art4 {
    padding-left: 4em;
    padding-bottom: 12em;
}

.art6 {
    padding-left: 4em;
}

footer {
    background-color: rgb(23, 23, 23);
    color: rgb(122, 122, 122);
    margin-bottom: -3%;
    margin-top: -5%;
}

.footerp {
    font-size: 1.8em;
}

.footerp1 {
    padding-top: 2em;
}

.footerp2 {
    padding-bottom: 6em;
}

/* ================================= */
/* ===========  TABLET  =========== */
/* ================================= */

@media screen and (max-width: 1600px) {

    .container {
        margin: 5%;
    }

    .introbox {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
        padding: 5em 1em;
    }

    .introimg {
        display: none;
    }

    .introimg1 {
        display: block;
        width: 100%;
    }

    h2 {
        font-size: 6em;
        text-align: start;
    }
    
    .introp {
        font-size: 2em;
        text-align: start;
    }

    .theorybox {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
    

    .theorybox1 {
        padding: 0;
    }
    
    .theorybox2 {
        padding: 0;
    }

    .infoboxp {
        width: 100%;
    }

}

/* ================================= */
/* ===========  MOBILE  =========== */
/* ================================= */

@media screen and (max-width: 800px) {

    .h1h1 {
        background-color: rgb(23, 23, 23);
        padding: 1em 0;
    }
    
    .h1 {
        display: block;
        color: white;
        font-size: 6em;
    }
    
    .h1p {
        display: block;
        color: white;
        font-size: 1.5em;
        padding-top: 0.5em;
    }
    
    .bannerimg {
        display: none;
    }

    .tired {
        display: none;
    }

    .artworksbox {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .art1 {
        padding-right: 0;
        padding-bottom: 0;
    }
    
    .art3 {
        padding-right: 0;
        padding-bottom: 0;
    }
    
    .art5 {
        padding-right: 0;
    }
    
    .art2 {
        padding-left: 0;
        padding-bottom: 0;
    }
    
    .art4 {
        padding-left: 0;
        padding-bottom: 0;
    }
    
    .art6 {
        padding-left: 0;
    }

    .art {
        padding: 2em 0;
    }

    footer {
        margin-top: 3em;
    }

}


/* ============================================================================ */
/* =========================  CONTUCT US PAGE  =============================== */
/* ========================================================================== */


/* ================================= */
/* ===========  DESKTOP= =========== */
/* ================================= */

.contactusall {
    background-color: rgb(107, 126, 158);
}

.contactush1 {
    color: white;
    text-align: center;
    position: absolute;
    margin-left: 24%;
    margin-right: 22%;
    margin-top: 16%;
    font-size: 12em;
}

.contactusboxes {
    color: rgb(198, 199, 204);
    margin-top: 1em;
    padding-bottom: 1em;
    font-size: 2.5em;
}

.contactusboxes1 {
    padding-top: 1em;
}

#fullname {
    width: 50%;
    height: 8em;
}

#email {
    width: 50%;
    height: 8em;
}

#message {
    width: 100%;
    height: 300px;
}

.formname {
    padding-bottom: 0.5em;
}

.contactusboxesbutton {
    background-color: rgb(170, 37, 23);
    font-size: 1em;
    padding: 30px 130px;
    color: white;
    margin-top: 2em;
    border-style: none;
    cursor: pointer;
}
.contactusboxesbutton1 {
    text-align: center;
}

.contactfooter {
    margin-top: 3em;
    margin-bottom: -5%;
}

/* ================================= */
/* ============  TABLET ============ */
/* ================================= */

@media screen and (max-width: 1600px) {
    #fullname {
        width: 70%;
        height: 8em;
    }

    #email {
        width: 70%;
        height: 8em;
    }
}

/* ================================= */
/* ============  MOBILE ============ */
/* ================================= */

@media screen and (max-width: 800px) {

    #fullname {
        width: 100%;
        height: 6em;
    }

    #email {
        width: 100%;
        height: 6em;
    }

    .contactusboxes {
        font-size: 1.7em;
    }

    .contactfooter {
        font-size: 0.8em;
    }

}